html {
  --name: Chifishfish;
    --main_bg_color: url(../img/background.jpg);
    --main_text_color: #000000;
    --gradient: linear-gradient(120deg, #bd34fe, #e0321b 30%, #41d1ff 60%);
    --purple_text_color: #747bff;
    --text_bg_color: rgb(121 163 231);
    --item_bg_color: rgba(249, 250, 251, 0.42);
    --item_hover_color: rgba(244, 245, 246, 0.8);
    --item_left_title_color: #000000;
    --item_left_text_color: #494949;
    --footer_text_color: #ffffff;
    --left_tag_item: #c7e1fa;
    --card_filter: 10px;
    --back_filter: 15px;
    --back_filter_color: #00000030;
     --fill:#000000;
}
